{% extends 'base.html' %}

{% block title %}Question {{ question_num }}{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">satisfaction survey</h1>
  <p>{{ question }}</p>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">
    <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with radio button">
</div>

<button action="" class="btn btn-primary">submit</button>

{% endblock %}

